@import "../../common/variables.scss";

.main_page_container {
    h1 {
        color: $header-color;
    }
    
    hr {
        margin-right: 40px;
    }

    .domain_container {
        margin: 20px;
    }
}