@import "../../../common/variables.scss";

.navigation_item {
	display: inline-block;

	padding: 15px;
	margin: 0 20px;

	transition: all 0.2s;

	&:hover {
		cursor: pointer;
		background: rgba(232, 232, 232, 0.4);
		a {
			color: $header-links-hover;
		}
	}

	a {
		color: $header-links;
		font-weight: 300;
		text-decoration: none;
	}
}