@import "../../../common/variables.scss";

.card_container {
    width: 300px;
    height: 350px;

    margin: 10px;
    padding: 10px;
    
    display: inline-block;
    
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
    text-align: center;
    background: $header-background-color;
}