@import "../../../common/variables.scss";

.entity_card_container {
    padding: 0;
    color: black;
    .entity_display_container {
        height: 200px;
        background: darken($main-title-color, 30%);
        transition: background ease-in-out 0.1s;
        color: white;
        line-height: 200px;
        font-size: 50px;
    }

    .entity_image {
        height: 150px;
    }


    .entity_details {
        padding: 10px;
        .entity_title {
            font-size: 32px;
            margin-top: 10px;
        }

        .entity_description {
            text-align: left;
        }
    }

    &:hover {
        box-shadow: 0 0 2px 1px rgba(0,0,0,.3);

        .entity_display_container {
            background: #2f4054;
        }
        cursor: pointer;
    }
}