@import "../../common/variables.scss";

$header-size: 50px;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	font-family: 'Roboto', sans-serif;
}

.application {
	.header {
		position: relative;

		width: 100%;
		height: $header-size;
		padding: 10px;

		z-index: 99;

		display: flex;
		background-color: $header-background-color;
		box-shadow: 0px 5px 11px 4px rgba(0,0,0,0.03);

		.logo {
			height: 100%;
			display: flex;
			align-items: center;

			.logo_image {
				max-width: 100%;
				max-height: 100%;
			}
			.company_name {
				display: inline-block;
				margin: 0 15px;
			}
		}
		.navigation {

			.login_navigation {
				position: absolute;
				right: 30px;
			}
		}
	}

	.content {
		position: fixed;
		height: 100%;
		width: 100%;
		.page {
			padding: 20px;
			background-color: $main-background-color;
			height: 100%;
			width: 100%;
		}
	}

}