$header-background-color: white;
$header-links: #aebdc1;
$header-links-hover: #393d40;

$button-primary-color: #21abc7;
$button-primary-color-hover: #1c91a8;
$button-primary-color-disabled: rgba(129, 187, 210, 0.8);
$focus-color: #905a20;

$main-text-color: #666e77;
$main-title-color: $main-text-color;

$header-color: $main-title-color;

$main-background-color: #fdfdfd